{% extends 'base.html.twig' %}

{% block title %}
    Hello WelcomeController!
{% endblock %}

{% block body %}

<h1 class="text-2xl text-center font-bold text-black mb-8">
    Hello WelcomeController!
</h1>
{% endblock %}
